* {
    box-sizing: border-box;
}

body {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
}

.container {
    display:flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.container div {
    
}

.draw {
    background-color: #1e1e1e;
}