* {
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

body {
    margin: 0;
    background-color: whitesmoke;
    max-height: 100vh;
}

h1 {
    text-align: left;
    margin: 0;
    color: #3e3e3e;
    font-size: 52px;
}

h3 {
    margin: 10px 0px;
    color: #3e3e3e;
}

input {
    margin: 0px;
    padding: 0px;
}

.content {
    display: flex;
    flex-direction: column;
}

.headerContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0px;
}

.headerTitle {
    width: 600px;
    margin-left: -24px;
}

.headerDummy {
    width: 390px;
    margin-left:-140px;
}


.controlsAndGrid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.controlsContainer {
    display: flex;
    flex-direction: column;
}

.controlGridSize, .controlColor {
    width: 390px;
    height: 120px;
}

.slidecontainer {
    position: relative;
  }
  
.slider {
    appearance: none;
    width: 100%;
    height: 15px;
    background: lightblue;
    outline: none;
    opacity: 0.8;
    transition: opacity 0.2s;
    border-radius: 8px;
    margin-top: 8px;
}

.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: lightskyblue;
    cursor: pointer;
    border-radius: 16px;
    position: relative;
    z-index: 2;
}
  
.slider-tooltip {
    font-weight: 300;
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightblue;
    color: #3e3e3e;
    padding: 4px 4px;
    border-radius: 4px;
    font-size: 12px;
    transition: opacity 0.5s;
    opacity: 0;
}

.settingsContainer {
    display: flex;
    align-items: center;
    gap:8px;
}

.colorContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .colorContainer label {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: whitesmoke;
    z-index: 1;
    background-color: transparent;
    pointer-events: none;
    transition: 0.1s;
  }

.labelStyleHover {
    cursor: pointer;
    color:whitesmoke !important;
}

.colorContainer input[type="color"] {
    background: transparent;
    border: none;
    inline-size: 74px;
    block-size: 80px;
}

.colorContainer input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
    width: 72px;
    height: 72px;
    margin: 0;
    padding: 0;
    transition: 0.1s;
    opacity: 0.8;
}

.colorContainer input[type="color"]::-webkit-color-swatch:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1.5px 4px;
    cursor: pointer;
    opacity: 1;
}

.buttonClass {
    font-weight: 300;
    background: transparent;
    border: solid 2px lightblue;
    border-radius: 100%;
    height: 72px;
    width: 72px;
    transition: 0.10s;
    opacity: 0.8;
    position: relative;
    overflow: hidden;
}

.buttonClass:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 1.5px 4px;
    color: whitesmoke !important;
    background-color: lightblue;
    border-color: transparent;
    cursor: pointer;
    opacity: 1;
    font-weight: bold;
}

.rainbowClass:hover, .rainbowActive {
    background-image: repeating-linear-gradient(to bottom right,
                        #ff8080 0px,
                        #ff8080 5px,
                        #ffb280 5px,
                        #ffb280 10px,
                        #ffcb80 10px,
                        #ffcb80 15px,
                        #ffe480 15px,
                        #ffe480 20px,
                        #fffd80 20px,
                        #fffd80 25px,
                        #dbf482 25px,
                        #dbf482 30px,
                        #89ea83 30px,
                        #89ea83 35px,
                        #84b2e8 35px,
                        #84b2e8 40px,
                        #5344dc 40px,
                        #5344dc 45px,
                        #c084e8 45px,
                        #c084e8 50px,
                        #ec84c9 50px) !important;
    background-size: 72px 72px;
    color: whitesmoke;
    opacity: 0.95;
    font-weight: bold;
    transition: background-position 0.5s;
    border-color: transparent;
}

.rainbowClass:hover {
    background-position: -72px -72px;
}


.gridActive {
    background-color: lightblue;
    font-weight: bold;
    color: whitesmoke;
}

.borderSetting {
    border: 1px solid lightblue;
}

.gridContainerBorder {
    border: solid 4px lightblue;
    margin-left: -140px;
}
  
.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.footerContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 16px 0px;
}

.footerTitle {
    width: 600px;
    margin-left: -24px;
}

.footerDummy {
    width: 390px;
    margin-left:-140px;
}


.credits {
    font-size: 12px;
    font-weight: 300;
  }

  .credits a {
    text-decoration: none;
    color: #1e1e1e;
  }

  .credits a:hover {
    color: lightskyblue;
  }

  .credits .fa {
    font-size: 18px;
    color: #1e1e1e;
    transition: 0.33s;
  }

  .credits .fa:hover {
    transform: rotateY(3.142rad);
  }

  .mobile-only {
    opacity: 0;
    display:none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    z-index: 9999;
  }
  
  .mobile-only h1 {
    color: black;
    max-width:500px;
    text-align: center;
  }

  .m-t {
    margin-top: 16px;
  }
  
  @media only screen and (max-width: 1250px) {
    .mobile-only {
      display: flex;
      opacity: 1;
    }
  }
